@using Tapas.Common
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tapas</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/css/home/index.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @this.RenderSection("Style", required: false)
</head>
<body>
    <button onclick="topFunction()" id="topBtn" title="Go to top"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
    @this.RenderBody()

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/materialize/js/materialize.js"></script>
        <script src="~/lib/materialize/js/init.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/materialize/js/materialize.js"></script>
        <script src="~/lib/materialize/js/init.js"></script>
        <script src="~/js/site.js"></script>
        <script>
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = document.getElementsByClassName("dropdown-container");
                    if (dropdownContent[0].style.display === "block") {
                        dropdownContent[0].style.display = "none";
                    } else {
                        dropdownContent[0].style.display = "block";
                    }
                });
            }
        </script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
