@model List<Tapas.Web.ViewModels.Orders.OrdersViewModel>

@foreach (var item in Model)
{
    if (item.Status == "Unprocesed")
    {
        <a href="/Orders/Details?id=@item.Id">
            <div class="row justify-content-center order-container bg-success">
                <h5>
                    @Html.Label("Поръчка: ")
                    @Html.DisplayFor(x => item.Id)
                </h5>
            </div>
        </a>
    }
    else
    {
        <a href="/Orders/Details?id=@item.Id">
            <div class="row justify-content-around order-container bg-danger border-dark">
                <h5>
                    @Html.Label("Поръчка: ")
                    @Html.DisplayFor(x => item.Id)
                </h5>
            </div>
        </a>
    }

}