@model List<Tapas.Web.ViewModels.Orders.OrdersViewModel>

@foreach (var item in Model)
{
    if (item.Status != "Unprocessed")
    {
        <li class="btn btn-success btn-lg order-li" onclick="orderDetails(@item.Id)" id="li@(item.Id)">
            <h5>
                Поръчка: <strong id="orderId">@item.Id</strong>
            </h5>
        </li>
    }
    else
    {
        <li class="btn btn-danger btn-lg" onclick="orderDetails(@item.Id)" id="li@(item.Id)">
            <h5>
                Поръчка: <strong id="orderId">@item.Id</strong>
            </h5>
        </li>
    }

}