@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Твоята информация";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Твоят акаунт съдържа информацията която си ни предоставил. На тази страница може да я свалиш или изтриеш.</p>
        <p>
            <strong>Изтриването на тази информация ще премахне твоят акаунт, безвъзвратно! </strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Свали информацията</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Изтрий</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}