a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    margin-left:10px;
}

.navbar-toggler-icon{
    margin:8px 10px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

#closed{
    text-align: center;
    font-size: 30px;
    height: 65px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.navbar{
    padding:0;
}
#logout {
    padding: 17px 14px 18px 14px;
    font-size: 18px;
    border-radius: 0;
}
    #logout:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

a.nav-link.text-dark {
    height: 64px;
    padding: 17px 14px 7px 14px;
}

ul.navbar-collapse {
    list-style: none;
    margin-bottom: auto;
    padding-left: initial;
}

ul li a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 18px;
    color: #fff;
    display: block;
    padding: 0 15px 0 15px;
    cursor: pointer;
}

ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#body {
    /*https: //res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_900,w_1600,f_auto/v1586767202/k4yosrnrf2mlyw6rfcfe.jpg*/
    margin-bottom: 60px;
    background-image: url("/Images/bg.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#main-transperant {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    width: 100%;
    height: auto;
}

.row-group {
    margin-right: 0 !important;
}

.remove-button {
    height: 30px;
    width: 90px;
    background-color: red;
    border-radius: 5px;
}

    .remove-button:hover {
        cursor: pointer;
    }


.responsive {
    width: 100%;
    height: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}


.hr-tapas {
    border: 2px solid grey;
    width: 100%;
}



#container-address { /*Addreses/Add*/
    min-height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#form-address { /*Addreses/Add*/
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 400px;
    padding: 16px;
    background-color: white;
}


.brand-logo {
    background-image: url("https://res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_40,w_40,f_auto/v1587384461/logo.jpg");
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.user-icon {
    background-image: url('/Images/sharp_person_black_48dp.png');
    width: 48px;
    height: 48px;
    margin: 8px 10px 8px 10px;
}


.bg-light-transperant {
    background: rgba(255, 255, 255, 1);
    color: white;
    width: 100%;
    height: auto;
}


h1 {
    color: #007bff;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(240, 240, 240, .7); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

    #topBtn:hover {
        background-color: rgba(240, 240, 240, 1); /* Add a dark-grey background on hover */
    }
