@model List<Tapas.Web.ViewModels.Orders.OrdersViewModel>
@{
    ViewData["Title"] = "Дневни поръчки";
}


<h1 class="text-center">Поръчки</h1>
<hr class="hr-tapas" />
<div class="row">
    <ul class="col-md-2" id="listOrders">
        @await Html.PartialAsync("_ListOrdersPartial", Model)
    </ul>
    <div class="col-md-10 bg-white" id="detailSection">

    </div>
</div>
<hr class="hr-tapas" />
<audio loop id="audio"> <source src="~/Audio/Tyga - Ayy Macarena (Official Video).mp3" type="audio/mpeg"></audio>
@section Scripts
{
    <script src="~/lib/@@microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/OrdersIndex.js"></script>
}
@section Style{
    <link rel="stylesheet" type="text/css" href="~/css/orderDetails.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
}

