@model Tapas.Web.ViewModels.Orders.UserOrderViewModel
@{
    ViewData["Title"] = "Моите поръчки";

}

<h1 class="text-center">Поръчки</h1>
<hr class="hr-tapas" />
<div class="row">
    <div class="bg-white" id="detailSection">
        @if (Model != null)
        {
            <div class="row text-center">
                <h1>Поръчка:  @Model.OrderId</h1>
            </div>
            <div class="row">
                <h1>@Model.Status</h1>
            </div>
            <div class="row">
                <h1>@Model.ArriveTime</h1>
            </div>
        }
        else
        {
            <h5>Няма поръчки!</h5>
        }
    </div>
</div>
<hr class="hr-tapas" />
<audio loop id="audio"> <source src="~/Audio/Tyga - Ayy Macarena (Official Video).mp3" type="audio/mpeg"></audio>
@section Scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/OrdersByUser.js"></script>
}
