.col-50 {
    width: 50%;
}

#theInput {
    width: 45px;
    display: inline;
}

.plus, .minus {
    font-size: 45px;
    padding: 0;
    margin-top: -22px;
}

.row {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .col-50 {
        width: 100%;
    }
}

#minus, #plus {
    display: inline-block;
    cursor: pointer;
    width: 45px;
    height: 38px;
    border-radius: 5px;
    padding: 0;
    border: none;
    font-size: 2rem;
    padding-bottom: 7px;
}

    #minus:hover, #plus:hover, .up:hover, .down:hover {
        background-color: rgba(0, 123, 255,0.5);
    }

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    border-radius: .25rem;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible:hover {
        background-color: #ccc;
    }

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.flex {
    display: flex;
}

.up, .down {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.qtyExtra {
    width: 28px;
    height: 30px;
    padding: 9px;
}

.ePadding {
    padding: 5px;
    border-top: 1px solid grey;
}
