<div class="row">
    <div class="col-md-3 bar">
        <h1 class="my-4 text-center">@GlobalConstants.SystemName</h1>
        <div class="list-group ">
            <a asp-area="@GlobalConstants.AreaAdmin" asp-controller="CateringFood" asp-action="Index" class="btn btn-default list-group-item"><h3>Плата</h3></a>
            <a asp-area="@GlobalConstants.AreaAdmin" asp-controller="Products" asp-action="GetProductsByCategory" class="btn btn-default list-group-item"><h3>Оборудване</h3></a>
            @*<a asp-area="@GlobalConstants.AreaAdmin" asp-controller="Products" asp-action="GetProductsByCategory" class="btn btn-default list-group-item"><h3>Галерия</h3></a>*@
        </div>
    </div>
    <div class="col-md-9">
        <img class="d-block img-fluid" style="border-bottom-left-radius:5px; border-bottom-right-radius:5px;" src="~/Images/tapas-masa s hrana.jpg" height="350" width="900" />
    </div>
</div>