@model List<Tapas.Web.ViewModels.Administration.CateringFood.IndexCateringFoodViewModel>
@{
    ViewData["Title"] = "Кетъринг плата";
}

    <div class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                <a class="carda btn col-lg-3 col-md-4 mb-4" href="~/ShopingCart/AddItem?productId=@product.Id">
                    <div class="card h-100">
                        <img class="card-img-top" src="https://res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_140,w_200/v1587540778/@(product.ImageUrl)" alt="@product.Name">
                        <div class="card-body">
                            <h4 class="text-center"> @product.Name </h4>
                                <h6>@product.Sizes[0].Weight гр.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@product.Sizes[0].Price лв.</h6>
                        </div>
                    </div>
                </a>
            }

        </div>
    </div>
