#theInput {
    width: 55px;
    display: inline;
}

#minus, #plus {
    padding: 0;
    border: none;
    font-size: 2rem;
    padding-bottom: 7px;
}

.row {
    margin: 0;
}

#minus1 {
    display: inline-block;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

    #minus1:hover {
        background-color: rgba(0, 123, 255,0.5);
    }

