a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

#body {
    /*https: //res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_900,w_1600,f_auto/v1586767202/k4yosrnrf2mlyw6rfcfe.jpg*/ 
    margin-bottom: 60px;
    background-image: url("/Images/1._MG_5972.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

#main-transperant {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    width: 100%;
    height: auto;
}
.remove-button {
    height: 30px;
    width: 90px;
    background-color: red;
    border-radius: 5px;
}

.carosel {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.responsive {
    width: 100%;
    height: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}

.btn.btn-default.list-group-item { /*Index*/
    background-image: url("https://res.cloudinary.com/duxtyuzpy/image/upload/f_auto/v1587386469/bg-list-orders.jpg");
    margin-bottom: 3px;
}

.hr-tapas {
    border: 2px solid grey;
    width:100%;
}

table { /*ShopingCart*/
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
}

#container-address { /*Addreses/Add*/
    min-height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#form-address { /*Addreses/Add*/
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 400px;
    padding: 16px;
    background-color: white;
}

.order-li { /*Order/Index*/
    margin-top: 2px;
    margin-bottom: 2px;
}
.card-item{
    color:whitesmoke;
    border:solid 1px black;
}
.brand-logo {
    background-image: url("https://res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_40,w_40,f_auto/v1587384461/logo.jpg");
    width: 40px;
    height: 40px;
}
.bg-light-transperant {
    background: rgba(255, 255, 255, 1);
    color: white;
    width: 100%;
    height: auto;
}
.nav-link{
    padding:0;
}

h1 {
    color: #007bff;
}
.card {
    border:1px solid black;
}
a.carda:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}