/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
    background-image: url("https://res.cloudinary.com/duxtyuzpy/image/upload/v1586767202/k4yosrnrf2mlyw6rfcfe.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-transperant {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    color: #3b3b3b;
    width: 100%;
    height: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}

.btn.btn-default.list-group-item { /*Index*/
    background-image: url("/Images/Wood.jpg");
    margin-bottom: 3px;
}

.hr-tapas {
    border: 2px solid grey;
}

table { /*ShopingCart*/
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
}

#container-address { /*Addreses/Add*/
    min-height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#form-address { /*Addreses/Add*/
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 400px;
    padding: 16px;
    background-color: white;
}

.order-container { /*Order/Index*/
    margin: 2px;
    border: solid 1px black;
    border-radius: 6px;
}
