row {
    margin:0;
    padding:0;
}

.order-li {
    margin-top: 2px;
    margin-bottom: 2px;
}

li h5 strong{
    white-space:normal;
}

ul li.btn {
    width:100%;
    margin-bottom:2px;
}

li.nav-item{
    white-space:nowrap;
}