@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Потвърждение за смяна на паролата";
}

<h1>@ViewData["Title"]</h1>
<p>
    Вашата парола е сменена. Моля влезте от <a asp-page="./Login">тук</a>.
</p>
