/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
    font-size: 18px;
}

.user-icon {
    background-image: url(https://res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_48,q_100,w_48/v1590151208/sharp_person_black_48dp.png);
    width: 64px;
    height: 64px;
}

/*li a.nav-link.text-dark {
    font-size: 1.2rem;
}*/

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 500px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

    .parallax-container .section {
        width: 100%;
    }

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

    .icon-block .material-icons {
        font-size: inherit;
    }

footer.page-footer {
    margin: 0;
}

.b-l {
    background-image: url("https://res.cloudinary.com/duxtyuzpy/image/upload/c_scale,h_40,w_40,f_auto/v1587384461/logo.jpg");
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(240, 240, 240, .7); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

    #topBtn:hover {
        background-color: rgba(240, 240, 240, 1); /* Add a dark-grey background on hover */
    }

div#closed {
    background-color: #F8D7DA;
    margin: 0 auto;
    padding: 10px 10px 14px 10px;
    font-size: 30px;
}

div#lastOrder {
    background-color: #FFF3CD;
    margin: 0 auto;
    padding: 10px 10px 14px 10px;
    font-size: 30px;
}
/*Dropdown*/
a.dropdown-btn {
    display: none;
}

#menu-icon {
    color: black;
    padding: 0 22px;
}

@media only screen and (max-width : 992px) {
    a.dropdown-btn {
        display: block;
    }

    .b-l {
        margin-top: 8px;
    }
}

.dropdown-container {
    display: none;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    margin-top: auto;
}

div.dropdown-item {
    height: 56px;
    padding: 15px;
}

    div.dropdown-item a {
        color: #343a40;
        font-size: 18px;
    }
