@model Tapas.Web.ViewModels.Administration.Categories.CategoryViewModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Details";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<h4>Category</h4>

<hr />

<div class="mx-auto">
    <div class="row d-flex justify-content-around">
        <h2 class="text-center">Name</h2>
        <h3 class="text-center">@Model.Name</h3>
    </div>

    <hr class="hr-event">

    <div class="row d-flex justify-content-around">
        <a onclick="history.back()" class="col-md-6 btn btn-secondary btn-lg active">Back</a>
        <a asp-area="Administration" asp-controller="Categories" 
                    asp-action="Edit" asp-route-categoryId="@Model.Id"
           class="col-md-6 btn btn-secondary btn-lg active" role="button" area-pressed="true">Edit</a>
    </div>
</div>

